


<div class="app-header">
  <app-header-component></app-header-component>
</div>
<div class="app-body">
  <div class="app-sidebar">
    <app-sidebar-component></app-sidebar-component>
  </div>
  <div class="app-content">
    <div class="app-navbar">
      <app-navbar-component></app-navbar-component>
    </div>
    <div class="app-hero">
      <app-hero-component></app-hero-component>

    </div>
    <div class="app-features"></div>
    <div class="app-features-products">
      <app-featured-products-component></app-featured-products-component>
    </div>

    <app-features-component></app-features-component>
  </div>
</div>
