.app-header{
  height: 80px;
}

.app-body{
  display: flex;
  padding: 1rem;
}

.app-sidebar{
  width: 250px;
}

.app-content{

}

.app-navbar{
  height: 40px;
}

.app-hero{
  padding: 20px;
  height: 200px;
}

.app-features{
  padding: 20px;
  height: 80px;
}
