.feature-component{
  display: flex;
}

.feature-icon{
  width: 50px;
  padding: 10px;
}

.feature-section{
  display: block;
  padding: 10px;
}

.feature-title{
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 5px;
}

.feature-description{
  font-size: 12px;
  color: gray;
}
